
    <form id="formCadastro" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                       <div class=" card-header">
                          <h4 class=" card-title">Cadastro de Clientes</h4>
                       </div>
                       <div class="card-body">
                        <div class="form ">
                            <div class="form-row">
                                <div class="form-group col-md-6 ">
                                    <label for="Nome">Nome</label>
                                    <input type="text" class="form-control" id="Nome" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="bmd-label-floating">Sobrenome</label>
                                    <input type="text" class="form-control" id="Sobrenome" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="bmd-label-floating">CPF</label>
                                    <input type="text" maxlength="14" class="form-control" id="CPF" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="bmd-label-floating">RG</label>
                                    <input type="text" class="form-control" id="RG" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="bmd-label-floating">CEP</label>
                                    <input type="text" class="form-control" id="CEP" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="bmd-label-floating">Logradouro</label>
                                    <input type="text" class="form-control" id="Logradouro" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="bmd-label-floating">Cidade</label>
                                    <input type="text" class="form-control" id="Cidade" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="bmd-label-floating">Estado</label>
                                    <input type="text" class="form-control" id="Estado" required>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label class="bmd-label-floating">Telefone</label>
                                    <input type="text" class="form-control" id="Telefone" required>
                                </div>
                                <div class="form-group col-md-6">
                                    <label class="bmd-label-floating">Celular</label>
                                    <input type="text" class="form-control" id="Celular" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="bmd-label-floating">Email</label>
                                <input type="text" class="form-control" id="Email" required>
                            </div>
                          </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary pull-right" type="submit">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>       
       
    </form>
    @*<div class="col-md-6">
        <form>
            <div class="form-row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name">
                </div>
            </div>
        </form>
    </div>*@

